*
!app
!public/
!avatars/
!public/avatars/team-1.jpg
!public/avatars/team-2.jpg
!public/avatars/team-3.jpg

!items/
!public/items/home-decor-1.jpg
!public/items/home-decor-2.jpg
!public/items/jordan.jpg

!products/
!public/products/1.jpg
!public/products/2.jpg
!public/products/3.jpg
!public/products/4.jpg
!public/products/5.jpg
!public/products/6.jpg
!public/products/7.jpg
!public/products/8.jpg
!public/products/9.jpg
!public/products/10.jpg
!public/products/11.jpg
!public/products/12.jpg

!businesses/
!public/businesses/1.jpg
!public/businesses/2.jpg

!.gitignore
